/* Sıfırlama */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Sayfa genel stili */
  body {
    font-family: 'Roboto', sans-serif;
    background-color: #000;  /* Siyah tema */
    color: #fff;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  }
  
  button {
    cursor: pointer;
  }
  